body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light blue background */
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #003366;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #005999;
}

.team-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fixture-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 220px;
  margin: 10px;
}

.fixture-card img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.fixture-teams {
  font-size: 16px;
  margin-bottom: 10px;
}

.fixture-date {
  font-size: 14px;
  color: gray;
}


.standing-card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
  font-size: 16px;
}
